<html>
    <head>
        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
        rel = "stylesheet">
        <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <style>
            #drag-list li{
                margin: 0 0 3px;
                padding: 8px; text-align: left;
                background-color: red;
                color: #fff;
                list-style: none;
                border: #CCCCCC solid 1px;
            }
        </style>

        <script>
            $(function(){
                var rank= [1,2,3,4,5,6,7,8,9,10];
                $("#order").val(rank);
                $( "#ranking" ).sortable({
                    update: function(event,ui){
                        rank= $(this).sortable('toArray');
                        $("#order").val(rank);
                    }
                });
            });
        </script>

    </head>
    <body>
        <div id="drag-list">
            <ul id="ranking">
                {% for team in team_list %}
                <li id="{{ team.id }}">
                    <p>{{ team.name }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <form action="/" method="POST">
            <input type="hidden" id="order" name="rank">
            <input type="submit" value="Submit Rankings">
        </form>
    </body>
</html>